# Dependencies
node_modules/
**/node_modules/

# Python Virtual Environments & Cache
venv/
.venv/
__pycache__/
.pyc

# Local cache directories
.vite/
*.db
backend/uploads/

# Production build output
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
